<!DOCTYPE html>
<html>

<head>

<title>Aircraft Fleet Monitoring</title>

<style>

body{
font-family:Arial;
background:#0f2c54;
color:white;
text-align:center;
}

.card{
background:white;
color:black;
width:500px;
margin:auto;
padding:25px;
border-radius:10px;
}

table{
margin:auto;
border-collapse:collapse;
width:80%;
background:white;
color:black;
}

th,td{
padding:10px;
border:1px solid #ddd;
}

</style>

</head>

<body>

<h1>Aircraft Engine Fleet Monitoring</h1>

<div class="card">

<form method="POST" enctype="multipart/form-data">

<input type="file" name="file" required>

<br><br>

<button type="submit">Analyze Fleet</button>

</form>

</div>

<br><br>

{% if fleet %}

<h2>Fleet Health Status</h2>

<table>

<tr>
<th>Engine</th>
<th>Predicted RUL</th>
<th>Status</th>
<th>Dashboard</th>
</tr>

{% for e in fleet %}

<tr>

<td>{{e.engine}}</td>

<td>{{e.rul}}</td>

<td>{{e.status}}</td>

<td>
<a href="/engine/{{e.engine}}">Open Dashboard</a>
</td>

</tr>

{% endfor %}

</table>

{% endif %}

</body>
</html>